.animabg {
  background-image: url(../img/parallax-space-backgound.png);
  animation: play 0.5s steps(2) infinite;

  -webkit-animation: play 0.5s steps(2) infinite;
  -moz-animation: play 0.5s steps(2) infinite;
  -ms-animation: play 0.5s steps(2) infinite;
  -o-animation: play 0.5s steps(2) infinite;
}

@keyframes play {
  from {
    background-position: 0px;
  }
  to {
    background-position: -512px;
  }
}

@-webkit-keyframes play {
  from {
    background-position: 0px;
  }
  to {
    background-position: -512px;
  }
}

@-moz-keyframes play {
  from {
    background-position: 0px;
  }
  to {
    background-position: -512px;
  }
}

@-ms-keyframes play {
  from {
    background-position: 0px;
  }
  to {
    background-position: -512px;
  }
}

@-o-keyframes play {
  from {
    background-position: 0px;
  }
  to {
    background-position: -512px;
  }
}
